/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

/* Styles for the registration form */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Styles for the note app */
header {
    background-color: #894b4b;
    color: rgb(230, 201, 201);
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.note-container {
    display: flex;
}

#note-input {
    flex-grow: 1;
    padding: 10px;
}

#add-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #e2dfdf;
    border-radius: 5px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
    text-align: center;
}

.container input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: rgb(32, 32, 192);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.container input[type="submit"]:hover {
    background-color: green;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Adjust width for smaller screens */
        max-width: none; /* Remove maximum width */
    }
}